#courses-list {

}
.panel-danger>.panel-heading {
      color: #FFF;
    background-color: #82c066;
    border-color: #82c066;
}
#course-title {
    color:hsl(101, 42%, 58%);;
}

.course-title {
    color:#FFF;
    text-decoration: none;
}
#courses-list a {
    text-decoration: none;
}

#courses-list a:hover {
    color:#FFF;
    text-decoration: none;
}
.single-course h1{
  text-align: left;
}
.single-course img {
    width: 100%;
      margin-bottom: 15px;
}

#bottom-border {
  border-bottom: 1px solid #f0f1f2;
}
#side-border {
  border-right: 1px solid #f0f1f2;
}
.single-side ul{
    list-style: none;
    padding: 0px;

}
.single-side li{

    padding-top: 15px;
    
}
.course-price {
      background: #84c165;
  height: 70px;
  color: #FFF;
  margin-bottom: 20px;
}

.course-price a{
  color: #FFF;
  text-decoration: none;
}
.course-price a:hover {
   float: right;
  color: #FFF;
  text-decoration: none;
}
#thank_you_submit {
    font-size: 18px;
  background: #82c066;
  padding: 8px 50px;
  color: #FFF;
}