/*   
Theme Name: SCS
Theme URI: 
Description: This is just a BLANK starter WordPress Theme template for SCS NImkar
Author: 
Author URI: 
Version: 1
*/


@charset "utf-8";
/* CSS Document */

*{margin:0 auto;}


#container{width:80%; height:100%; background-color:blue;  }




#logo2{width:12%; height:58%; float:left; margin-top:0%;background-color:green; }
		
#logo{width:100%; height:11.5%; float:left; background-color:white;}

#logo2 img{width:75%; height:38%; float:left; margin-top:0%; }
#logo2 p{font-family:verdana; font-size:1.8em; font-weight:bold; font-style:italic; color:#8e8e8b; float:left; padding-top:10px;margin-left:20px; text-align:center;}


#me{width:60%; height:110px; float:right;background-color:green;}

#texte {width:80%; height:110px; float:right;background-image:url('images/sej.png');background-repeat:no-repeat; }
#texte:hover{ width:80%;  transition:0.5s ease; -webkit-transition:0.5s ease;background-image:url('images/sej2.png');background-repeat:no-repeat;}

#texte ul{position:absolute; margin:0px; padding:0px;float:left;width:100%;display:none; transition:0.5s ease; 
-webkit-transition:0.5s ease;}


#texte a{display:block;text-decoration:none;list-style:none;  transition:0.5s ease; 
-webkit-transition:0.5s ease;}

#texte:hover ul{display:block;text-decoration:none;list-style:none; transition:0.5s ease; -webkit-transition:0.5s ease;
}

#texte:hover a:hover{transition:0.5s ease; -webkit-transition:0.5s ease;}



#text-logo{width:80%; height:10%; float:left;  background-color:red;}

#text-logo img{width:70%; height:84%;float:right;margin-left:30%;margin-top:20px; }

#main{width:100%; height:50px; float:left;background-color:white; margin-top:0px; }  

#k{width:100%; height:50px; float:left;background-color:red;  } 

/*Menu Bar*/
#menubar { 

 background-color: white;
    float: left;
    height: 50px;
    margin-top: 0;
    width: 100%;

}

#menubar ul {
background: none repeat scroll 0 0 #82c066;
    border-radius: 10px;
    display: block;
    float: left;
    height: 38px;
    list-style: none outside none;
    margin: 23px -5px;
    padding: 0;
    width: 100%;
}

#menubar ul li {

display: block;

margin: 5px 0 0 68px;

padding: 0 0 5px 0;

float: left;

position: relative;

}

#menubar ul li a {
display: block;
margin: 0;
padding: 1px 10px 0 10px;
font: normal 14px/28px 'Podkova', sans-serif;
color: #fff;
text-decoration: none;
}

#menubar ul li .sf-sub-indicator {

display: none;

}

#menubar ul li:hover a,

#menubar ul li.hover a,

#menubar ul li.current-menu-item a,

#menubar ul li.current_page_item a {



 color: yellow;

 line-height: 28px;


background-color: yellowgreen;

}

#menubar ul li ul {

display: none;

background: #333 none;

width: 180px;

height: auto;

border-radius: 5px;

}

#menubar ul li:hover ul,

#menubar ul li.hover ul {

display: block;

width: 180px;

position: absolute;

z-index: 999999;

margin: 5px 0 0 0;

padding: 5px 0;

}

#menubar ul li:hover ul li,

#menubar ul li.hover ul li {

display: block;

float: none;

margin: 0;

padding: 0;

line-height: 18px;

background: transparent none;

}

#menubar ul li:hover ul li a {

display: block;

color: #9ac836;

line-height: 18px;

float: none;

padding: 5px 10px;

background: transparent none;

border: 0 none;

box-shadow: none;

}

#menubar ul li.hover ul li:hover a,

#menubar ul li.hover ul li.hover a,

#menubar ul li.hover ul li.current-page_item a {

color: #fff;

line-height: 18px;

border-radius: 0;

border: 0 none;

box-shadow: none;

}

#menubar ul li:hover ul li .sf-sub-indicator,

#menubar ul li.hover ul li .sf-sub-indicator {

display: block;

float: right;

line-height: 18px;

}

#menubar ul li:hover ul li ul,

#menubar ul li.hover ul li ul {

display: none;

}

#menubar ul li:hover ul li:hover ul,

#menubar ul li.hover ul li.hover ul {

display: block;

height: auto;

float: left;

margin: -33px 0 0 175px;

border-radius: 5px;

}

#menubar ul li:hover ul li:hover ul li a,

#menubar ul li.hover ul li.hover ul li a {

color: #9ac836;

}

#menubar ul li:hover ul li:hover ul li:hover a,

#menubar ul li.hover ul li.hover ul li.hover a {

color: #fff;

}
/*End of Menu Bar*/

.rect4{width:1370px; height:130px; float:right; margin-right:20px; background-color:#f7f7f7; margin-top:60px;border-radius:10px; margin-bottom:0px;}

.rect4 p{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:black; float:left; margin:10px;  text-align:left;  }




.rect3{width:1370px; height:100px; float:right; margin-right:20px; background-color:#f7f7f7; margin-top:60px;border-radius:10px; margin-bottom:0px;}

.rect3 p{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:black; float:left; margin:10px;  text-align:left;  }



.rect2{width:1370px; height:80px; float:right; margin-right:20px; background-color:#f7f7f7; margin-top:60px;border-radius:10px; margin-bottom:30px;}

.rect2 p{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:black; float:left; margin:10px;  text-align:left;  }


.rect1{width:1370px; height:70px; float:right; margin-right:20px; background-color:#f7f7f7; margin-top:60px;border-radius:10px; margin-bottom:30px;}

.rect1 p{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:black; float:left; margin:10px;  text-align:left;  }

.rect{width:1370px; height:40px; float:right; margin-right:20px; background-color:#f7f7f7; margin-top:60px;border-radius:10px; margin-bottom:60px;}

.rect p{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:black; float:left; margin:10px;  text-align:left;  }


#bannerin{ width:770px; height:625px; float:left; background-color:white; margin-left:20px; margin-bottom:0px;}
#bannerin img{width:654px; height:524px; float:left; margin-top:150px;}

#js{ width:650px; height:500px; float:left; background-color:white;}




#banner{ width:47.5%; height:425px; float:left; background-color:white; margin-left:2.5%; margin-right:2.5%;margin-top:60px;}
#banner img{width:400px; height:300px; float:left; margin-top:0px;}


#textmy{ width:45%; height:470px; float:left; background-color:white;  margin-top:60px; border-radius:20px; margin-bottom:40px; margin-right:2.5%;}
#textmy p{font-family:sans-serif; font-size:0.9em; color:black; float:left; margin-top:0px; margin:0px;line-height:150%; text-align:left;font-weight:500;}
#textmy li{font-family:sans-serif; font-size:0.9em; color:black; float:left; margin-left:20px; text-align:left;font-weight:500;line-height:150%;}


#smy{ width:45%; height:460px; float:left; background-color:white;  margin-top:60px; border-radius:20px; margin-bottom:20px; margin-right:2.5%;}
#smy p{font-family:sans-serif; font-size:1em; color:black; float:left; margin-top:0px; margin:0px;line-height:150%;font-weight:500;}
#smy li{font-family:sans-serif; font-size:1em; color:black; float:left; margin-left:1.4%; text-align:left;font-weight:500;line-height:150%;}

#banneruc{ width:50%; height:640px; float:left; background-color:white; margin-left:25%; margin-top:60px;}
#banneruc img{width:100%; height:524px; float:left; margin-top:0px;}

#banneruk{ width:47.5%; height:400px; float:left; background-color:white; margin-left:2.5%; margin-top:60px;}
#banneruk img{width:50%; height:280px; float:right;margin-right:15% ;}




#banneru{ width:47.5%; height:400px; float:left; background-color:white; margin-left:2.5%; margin-top:60px;}
#banneru img{width:70%; height:280px; float:left ;}

#bannerul{ width:55%; height:640px; float:left; background-color:white; margin-left:20px; margin-top:120px;}

#banneru12{ width:55%; height:195px; float:right; background-color:white;  }
#banneru12 p{font-family:sans-serif; font-size:1.2em;  float:left;margin-top:30px;
             line-height:150%;  text-align:left; color:black;  }

#banneru2{ width:40%; height:50px; float:left; background-color:white;margin-left:100px }

#bannertwo{ width:49%; height:500px; float:left; background-color:white; margin-top:60px;margin-left:2.5%;margin-right:2.5%;}



#banneru1{ width:55%; height:100px; float:left; background-color:white; }
#banneru1 img{width:26%; height:100px; float:left; margin:0px;   }


#banner1{ width:47.5%; height:480px; float:left; background-color:white; margin-left:2.5%; margin-right:2.5%;margin-top:60px;}
#banner1 img{width:78%; height:324px; float:right; margin-right:10%;}

#banner2{ width:49%; height:500px; float:left; background-color:white; margin-top:60px;margin-left:2.5%;margin-right:2.5%;}
#banner2 img{width:85.5%; height:472px; float:right; margin-right:4%;}

#banner3{ width:42.5%; height:510px; float:left; background-color:white; margin-top:60px; margin-left:2.5%; margin-right:2.5%;}
#banner3 img{width:208px; height:116px; float:left; margin-top:0px;}

#banner4{ width:50%; height:200px; float:left; background-color:white; margin-left:0px; margin-bottom:0px;}
#banner4 img{width:70%; height:110px; float:right; margin-top:0px;}

#banner5{ width:50%; height:200px; float:left; background-color:white; margin-left:0px; margin-bottom:0px;}
#banner5 img{width:70%; height:74px; float:right; margin-top:0px;}

#banner6{ width:50%; height:200px; float:left; background-color:white; margin-left:0px; margin-bottom:0px;}
#banner6 img{width:70%; height:60px; float:right; margin-top:0px;}

#banner7{ width:50%; height:200px; float:left; background-color:white; margin-left:0px; margin-bottom:0px;}
#banner7 img{width:70%; height:60px; float:right; margin-top:0px;}

#banner13{ width:50%; height:475px; float:left; background-color:white; margin-left:20px; margin-top:60px; margin-left:2.5%; margin-right:2.5%;}




#banner8{ width:100%; height:350px; float:left; background-color:white; margin-left:0px; margin-bottom:0px;}
#banner8 img{width:90%; height:308px; float:right; margin-top:0px;}

#banner9{ width:58%; height:200px; float:left; background-color:white; margin-left:0px; margin-bottom:0px;}
#banner9 img{width:78%; height:92px; float:right; margin-top:0px;}

#banner01 {width:600px; height:75px; float:right; background-color:white; margin-left:0px; margin-bottom:0px;}
#banner01 img{width:289px; height:75px; float:left; margin-left:0px;}

#banner02 {width:570px; height:148px; float:left; background-color:white; margin-left:0px; margin-top:100px;}
#banner02 img{width:332px; height:148px; float:right; margin-right:100px;}


#banners{ width:40.5%; height:500px;margin-top:60px; float:left; background-color:white; margin-left:2.5%; margin-right:2.5%;}


#banners1{ width:770px; height:600px; float:left; background-color:white;}
#banners1 img{width:589px; height:472px; float:left; margin-top:100px;}


#banner33{ width:42.5%; height:425px; float:left; background-color:white; margin-left:20px; margin-top:60px; margin-left:5%; margin-right:2.5%;}


#banner-{ width:300px; height:300px; float:left; background-color:white; margin-left:0px; margin-bottom:0px;}
#banner- img{width:274px; height:252px; float:left; margin-top:50px;}

#banner-1{ width:350px; height:300px; float:left; background-color:white; margin-left:0px; margin-bottom:0px;}
#banner-1 img{width:273px; height:92px; float:left; margin-top:100px;}

#banner-2{ width:200px; height:250px; float:left; background-color:white; margin-left:0px; margin-bottom:0px;}
#banner-2 img{width:180px; height:122px; float:right; margin-top:40px;}

#banner-3{ width:200px; height:250px; float:left; background-color:white; margin-left:50px; margin-bottom:0px;}
#banner-3 img{width:147px; height:147px; float:right; margin-top:0px;}

#banner-4{ width:200px; height:250px; float:left; background-color:white; margin-left:0px; margin-bottom:0px;}
#banner-4 img{width:147px; height:147px; float:right; margin-top:0px;}

#banner-5{ width:45%; height:520px; float:left; background-color:white; margin-left:2.5%; margin-top:2.5%; margin-top:60px;}


#banner-6{ width:770px; height:75px; float:left; background-color:white; margin-left:0px; margin-bottom:50px;}
#banner-6 img{width:289px; height:75px; float:left; margin-top:0px;}

#banner-7{ width:770px; height:116px; float:left; background-color:white; margin-left:0px; margin-bottom:50px;}
#banner-7 img{width:208px; height:116px; float:left; margin-left:50px;}





#textmy1{ width:584px; height:620px; float:left; background-color:#f7f7f7; margin-left:20px; margin-top:120px; border-radius:20px; margin-bottom:15px; }
#textmy1 p{font-family:Verdana, Geneva, sans-serif; font-size:16px;  color:#393939; float:left; margin-top:30px; margin:20px; text-align:left;}

#te{ width:43.5%; height:500px; float:left; background-color:white; margin-top:60px; border-radius:20px; margin-bottom:0px;  margin-right:2.5%;}
#te p{font-family:sans-serif; font-size:0.9em; color:black; float:left; margin-top:0px; margin:0px;line-height:150%; text-align:left;font-weight:500;}
#te li{font-family:sans-serif; font-size:0.9em; color:black; line-height:150%;margin-left:20px;}


#text{ width:584px; height:403px; float:left; background-color:#f7f7f7; margin-left:20px; margin-top:120px; border-radius:20px; margin-bottom:20px; }
#text p{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:black; float:left; margin-top:30px; margin:20px; text-align:left;}

#text1{ width:584px; height:403px; float:left; background-color:#f7f7f7; margin-left:20px; margin-top:40px; border-radius:20px; margin-bottom:20px; }
#text1 p{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:black; float:left; margin-top:30px; margin:20px; text-align:left;}

#text2{ width:43.5%; height:660px; float:left; background-color:white; margin-top:60px; border-radius:20px; margin-bottom:0px;  margin-right:2.5%;}
#text2 p{font-family:sans-serif; font-size:0.9em; color:black;  margin-top:0px; line-height:150%; font-weight:500;}
#text2 li{font-family:sans-serif; font-size:0.9em; color:black; line-height:150%;margin-left:20px;}

#text3{ width:42%; height:350px; float:left; background-color:white; margin-left:20px; margin-top:60px; border-radius:2.5%; margin-bottom:2.5%; }
#text3 p{font-family:sans-serif; font-size:0.9em; color:black; float:left; margin-top:0px; margin:0px;line-height:150%; text-align:justify;font-weight:500;}
#text3 li{font-family:sans-serif; font-size:0.9em; color:black; line-height:150%;margin-left:20px;}

#text4{ width:41.5%; height:380px; float:left; background-color:white; margin-left:20px; margin-top:60px; border-radius:20px; margin-bottom:20px; }
#text4 p{font-family:sans-serif; font-size:0.9em; color:black; float:left; margin-top:0px; margin:0px;line-height:150%; text-align:left;font-weight:500;}
#text4 li{font-family:sans-serif; font-size:0.9em; color:black; line-height:150%;margin-left:20px;}

#text5{ width:41.5%; height:600px; float:left; background-color:white; margin-left:0px; margin-top:60px; border-radius:20px; margin-bottom:2.5%; }
#text5 p{font-family:sans-serif; font-size:0.9em; color:black; float:left; margin-top:0px; margin:0px;line-height:150%; text-align:left;font-weight:500;}
#text5 li{font-family:sans-serif; font-size:0.9em; color:black; line-height:150%;margin-left:20px;}


#text55{ width:41.5%; height:475px; float:left; background-color:white; margin-left:0px; margin-top:60px; border-radius:20px; margin-bottom:20px; }
#text55 p{font-family:sans-serif; font-size:0.9em; color:black; float:left; margin-top:0px; margin:0px;line-height:150%; text-align:left;font-weight:500;}
#text55 li{font-family:sans-serif; font-size:0.9em; color:black; line-height:150%;margin-left:20px;}



#text6{ width:41.5%; height:510px; float:left; background-color:white; margin-left:2.5%; margin-top:60px; border-radius:20px; margin-right:2.5%; }
#text6 p{font-family:sans-serif; font-size:0.9em; color:black; float:left; margin-top:0px; margin:0px;line-height:150%; text-align:left;font-weight:500;}
#text6 li{font-family:sans-serif; font-size:0.9em; color:black; line-height:150%;margin-left:20px;}

#text7{ width:42%; height:710px; float:left; background-color:white;  margin-top:60px; border-radius:20px; margin-bottom:2.5%; }
#text7 p{font-family:sans-serif;font-size:0.9em; color:black; float:left; margin-top:0px; margin:0px;line-height:150%; text-align:left;font-weight:500;}
#text7 li{font-family:sans-serif; font-size:0.9em; color:black; line-height:150%;margin-left:20px;}

#text8{ width:45%; height:1260px; float:left; background-color:white;  margin-top:60px; border-radius:20px; margin-bottom:2.5%; }
#text8 p{font-family:sans-serif;font-size:0.9em; color:black; float:left; margin-top:0px; margin:0px;line-height:150%; text-align:left;font-weight:500;}
#text8 li{font-family:sans-serif; font-size:0.9em; color:black; line-height:150%;margin-left:20px;}
#text8 span{margin-top:50px;}

#text2-my{ width:45%; height:1260px; float:left; background-color:white; margin-right:2.5%; margin-top:60px; border-radius:20px; margin-bottom:20px; }
#text2-my p{font-family:sans-serif; font-size:0.9em; color:black; text-align:left; margin-left:0px;font-weight:500;line-height:150%;}
#text2-my li{font-family:sans-serif; font-size:0.9em; color:blak;  margin-left:20px; text-align:left;font-weight:500;line-height:150%;}






#footer-border{ width:100%; height:30px; float:left;background-color:#e4e4e4;  margin-top:15px; }
#footer-border p{font-family:Tahoma; font-size:0.9em; text-align:left; color:#707070; margin-top:7px; /font-weight:bold; margin-left:3.5%;}

#footer-border1{ width:100%; height:30px; float:left;background-color:#e4e4e4;  margin-top:15px;position:fix bottom; }
#footer-border1 p{font-family:Tahoma; font-size:1.5em; text-align:left; color:#707070; margin-top:7px; /font-weight:bold; margin-left:3.5%;}


#footer-border0{ width:100%; height:30px; margin-left:20px; margin-right:20px; float:left;background-color:#e4e4e4;  margin-top:15px; }
#footer-border0 p{font-family:Tahoma; font-size:0.9em; text-align:left; color:#707070; margin-top:7px; /font-weight:bold; margin-left:50px;}

<!--servie-sub-->







#cont{width:80%; height:1970px; background-color:red; }

#log{width:100%; height:80px; float:left; background-color:red;}

#log img{width:12%; height:64px; float:left; margin-top:16px; }
#log p{font-family:verdana; font-size:1.5em; font-weight:bold; font-style:italic; color:#8e8e8b; float:left; padding-top:60px; margin-left:0px; text-align:left;}

		
#log{width:1370px; height:80px; float:left; margin-left:20px; margin-right:20px; background-color:white;}

#log img{width:168px; height:64px; float:left; margin-top:16px; }
#log p{font-family:verdana; font-size:16px; font-weight:bold; font-style:italic; color:#8e8e8b; float:left; padding-top:60px; margin-left:0px; text-align:left;}

#text-logo{width:88%; height:80px; float:right;  background-color:white; margin-right:100px;}

#text-logo img{width:70%; height:80px;float:left; margin-right:18%; }



#main-my{widht:100%; height:50px; float:right;background-color:white; margin-top:30px;   }  


#menu-my{ width:171.25px;  position:relative;text-align:center;float:left;
background-color:gray;color:white; margin-top:10px;line-height:40px;
font-family:verdana; font-size:16px; }

#menu-my:hover{background-color:gray;color:white; width:171.25px; line-height:40px; transition:0.5s ease; -webkit-transition:0.5s ease;}

#menu-my ul{position:absolute; margin:0px; padding:0px;float:left;width:100%;display:none;background-color:gray;  transition:0.5s ease; -webkit-transition:0.5s ease; }

#menu-my a{display:block;text-decoration:none;list-style:none;color:white; background-color:gray; transition:0.5s ease; -webkit-transition:0.5s ease;}

#menu-my:hover ul{display:block;text-decoration:none;list-style:none;background-color:white; transition:0.5s ease; -webkit-transition:0.5s ease; }

#menu-my:hover a:hover{background-color:#a1cb46; color:black; transition:0.5s ease; -webkit-transition:0.5s ease;}




.rect-my{width:1370px; height:100px; float:right; margin-right:20px; background-color:#f7f7f7; margin-top:60px;border-radius:10px;}

.rect-my p{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:black; float:left; margin:10px;  text-align:left;  }




#banner-my{ width:770px; height:625px; float:left; background-color:white; margin-left:20px; margin-bottom:0px;}
#banner-my  img{width:654px; height:524px; float:left; margin-top:101px;}

#banner1-my{ width:770px; height:625px; float:left; background-color:white; margin-left:20px; margin-bottom:0px;}
#banner1-my  img{width:654px; height:524px; float:left; margin-top:50px;}

#banner2-my{ width:40%; height:1310px; float:left; background-color:white; margin-left:2.5%; margin-right:2.5%;margin-top:0px;}
#banner2-my  img{width:70%; height:327px; float:right; margin-top:60px;margin-right:12%;}



#text-my{ width:584px; height:403px; float:left; background-color:#f7f7f7; margin-left:20px; margin-top:120px; border-radius:20px; margin-bottom:20px; }
#text-my p{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:black; float:left; margin-top:30px; margin:20px; text-align:left;}

#text1-my { width:584px; height:403px; float:left; background-color:#f7f7f7; margin-left:20px; margin-top:40px; border-radius:20px; margin-bottom:20px; }
#text1-my p{font-family:Arial, Helvetica, sans-serif; font-size:16px; color:black; float:left; margin-top:30px; margin:20px; text-align:left;}


#textsmy{ width:600px; height:620px; float:left; background-color:white;  margin-top:120px; border-radius:20px; margin-bottom:20px; margin-right:35px;}
#textsmy p{font-family:serif; font-size:19px; color:gray; float:left; margin-top:0px; margin:0px;line-height:150%; text-align:left;font-weight:500;}
#textsmy li{font-family:serif; font-size:19px; color:gray; float:left; margin-left:20px; text-align:left;font-weight:500;line-height:150%;}
#textsmy ul{font-family:serif; font-size:19px; color:gray; float:left; margin-left:20px; text-align:left;font-weight:500;line-height:150%;}

#footer-border-my{ width:1370px; height:30px; margin-left:20px; margin-right:20px; float:left;background-color:gray;  margin-top:10px; }
#footer-border-my  p{font-family:sans-serif; font-size:0.9em; text-align:center; color:white; margin-top:7px; /font-weight:bold;}

