/*   
Theme Name: BLANK Theme
Theme URI: http://digwp.com
Description: This is just a BLANK starter WordPress Theme template -- WordPress v2.9.1
Author: Chris Coyier
Author URI: http://chriscoyier.net
Version: 1
*/

aside, article, section, header, footer, nav {
display: block;
}
aside, article, section, header, footer, nav, html, body, p, h1, h2, h3, div {
margin: 0;
padding: 0;
}
Add Some background for your theme
html {
background: #EDEDED;
}
body {
background: none repeat scroll 0 0 white;
color: #141412;
margin: 0 auto;
font-size:100%; 
  line-height:1.5;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}
Give some content styles
/*content styling*/
header {
background: #F7A42F;
padding: 50px 25px 10px 0;
color: #fff;
margin-bottom: 2em;
}
h1 {
text-align: right;
font-size: 3em;
font-weight: normal;
font-variant: small-caps;
letter-spacing: .1em;
}
p {
margin-bottom: 1em;
}
article {
text-align: justify;
}
article h2 {
font-size: 2em;
font-weight: normal;
margin-bottom: .2em;
}
article p {
font-size: 1.2em;
margin-bottom: 1em;
}
aside {
font: .9em sans-serif;
}
aside h2 {
font-size: 1.2em;
margin-bottom: 1em;
}
footer {
background: #E08B14;
font: 1.2em sans-serif;
text-transform: uppercase;
letter-spacing: .2em;
text-align: center;
color: #fff;
}

a{
text-decoration:none;
color:#999999;
}

a:hover{
color:#82c066;
}

.strip{
height:3px;
width:100%;
background:#82c066;
}

#wrapper{
margin: 0 auto;
width: 960px;
}

#container{
width:100%;
}

#header{

    margin: 0 auto;
    width: 100%;
}

#head_in{

    width: 100%;
}

.logo{
    margin-top: 17px;
    float: left;
    height: 86px;
    width: 12%;
}

.tagline{
    color: #84c165;
    font-size: 30px;
    margin-top: 16px;
}

div.tagline:hover{
color:#f1ef28;
}

/** Primary Menu **/

#menubar { 
background: none repeat scroll 0 0 #82c066;
    border-radius: 10px;
    box-shadow: 0 3px 2px -3px;
    float: left;
    height: 40px;
    margin-bottom: 35px;
    margin-left: -12px;
    margin-top: 20px;
    width: 105%;
}

#menubar ul {

display: block;
    float: left;
    height: 30px;
    list-style: none outside none;
    margin: 0 -5px;
    padding: 0;

}

#menubar ul li {

display: block;

margin: 5px 0 0 0px;

padding: 0 0 5px 0;

float: left;

position: relative;

}

#menubar ul li a {

display: block;

margin: 0;

padding: 1px 17px 0;

color: #fff;
font: bolder 15px/28px "Podkova",sans-serif;
border-radius: 10px;
text-decoration: none;


}

#menubar ul li .sf-sub-indicator {

display: none;

}

#menubar ul li:hover a,

#menubar ul li.hover a,

#menubar ul li.current-menu-item a,

#menubar ul li.current_page_item a {

background: none repeat scroll 0 0 #f1ef2b;
    color: #141412;
    padding: 1px 17px 0;

}

#menubar ul li ul {

display: none;

background: #82c066;

width: 180px;

height: auto;

border-radius: 5px;

}

#menubar ul li:hover ul,

#menubar ul li.hover ul {

display: block;

width: 180px;

position: absolute;

z-index: 999999;

margin: 5px 0 0 0;

padding: 5px 0;

}

#menubar ul li:hover ul li,

#menubar ul li.hover ul li {

display: block;

float: none;

margin: 0;

padding: 0;

line-height: 18px;

background: transparent none;

}

#menubar ul li:hover ul li a {

display: block;

color: #333;

line-height: 18px;

float: none;

padding: 5px 10px;

background: transparent none;

border: 0 none;

box-shadow: none;

}


#menubar ul li:hover ul li a:hover{
background:yellow;
}

#menubar ul li.hover ul li:hover a,

#menubar ul li.hover ul li.hover a,

#menubar ul li.hover ul li.current-page_item a {

color: #fff;

line-height: 18px;

border-radius: 0;

border: 0 none;

box-shadow: none;



}

#menubar ul li:hover ul li .sf-sub-indicator,

#menubar ul li.hover ul li .sf-sub-indicator {

display: block;

float: right;

line-height: 18px;



}

#menubar ul li:hover ul li ul,

#menubar ul li.hover ul li ul {

display: none;

}

#menubar ul li:hover ul li:hover ul,

#menubar ul li.hover ul li.hover ul {

display: block;

height: auto;

float: left;

margin: -33px 0 0 175px;

border-radius: 5px;

}

#menubar ul li:hover ul li:hover ul li a,

#menubar ul li.hover ul li.hover ul li a {

color: #9ac836;

}

#menubar ul li:hover ul li:hover ul li:hover a,

#menubar ul li.hover ul li.hover ul li.hover a {

color: #fff;

}

.entry{
 background: none repeat scroll 0 0 white;
    float: left;
    padding: 22px 0 0;
    width: 105%;
}

#footer{ 
background: none repeat scroll 0 0 #aaaaaa;
    color: 141412;
    height: 80px;
    margin-left: -6px;
    width: 101.5%;
	 float: left;
}

#footer a{
color:black;
}

#footer a:hover{
color:yellow;
}

.img_page{

    float: left;
    margin-bottom: 10px;
}

#banner3 {
    background-color: white;
    float: left;
    height: 510px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 60px;
    width: 42.5%;
}
#banner4 {
    background-color: white;
    float: left;
    height: 200px;
    margin-bottom: 0;
    margin-left: 0;
    width: 50%;
}
#banner5 {
    background-color: white;
    float: left;
    height: 200px;
    margin-bottom: 0;
    margin-left: 0;
    width: 50%;
}

#banner6 {
    background-color: white;
    float: left;
    height: 200px;
    margin-bottom: 0;
    margin-left: 0;
    width: 50%;
}
#banner7 {
    background-color: white;
    float: left;
    height: 200px;
    margin-bottom: 0;
    margin-left: 0;
    width: 50%;
}

.left{
float: left;
    margin-left: 15px;
    margin-top: 9px;
}

.right{

    float: right;
    margin-right: 15px;
    margin-top: 9px;}
	
h2{
color:#9ac836;
}	

.page_header{
background: none repeat scroll 0 0 #f1ef28;
    border-radius: 0 0 10px 10px;
    color: black;
    float: left;
    font-variant: small-caps;
    margin-bottom: 35px;
    margin-top: -34px;
    padding: 3px 28px;
    width: 94.5%;
}

iframe{
  display:none;
}

#err-message { 
text-align: center;
  margin: 70px;
  font-size: 20px;
  color: red;
  background-color: #eee;
  border-radius: 5px;
}

#message {

text-align: center;
  margin: 70px;
  font-size: 20px;
  color: green;
  background-color: #eee;
  border-radius: 5px;
} 
#loginpanel {
  color: #FFF;
  position: absolute;
  top: 50px;
  right: 0;
  width: 400px;
  z-index: 1000;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#signup-form {
  color: #FFF;
  position: absolute;
  top: 60px;
  right: 0;
  width: 400px;
  z-index: 1000;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#loginpanel .content {
  margin: 0 auto;
  padding: 15px;
  text-align: left;
  font-size: 0.85em;
}
#box-shadow {
  -webkit-box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.74);
  -moz-box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.74);
  box-shadow: 0px 4px 12px -2px rgba(0,0,0,0.74);
}
#sign-tool {
  background: #84C165;
  padding: 1px 22px 22px;
}
#fb-tool {
  background: #FFF;
  padding: 1px 22px 22px;
}
#loginpanel .content form, #registerpanel .content form {
  margin: 0 0 10px 0;
}
#sign-btn {
  background: #FFF;
  border: none;
  color: #000;
  text-transform: uppercase;
}
.login-head .btns, div .btn, div .order-gateway input[type="submit"], div .btn:hover, div .order-gateway input [type="submit"]:hover {
  background: #E96766;
  border: none;
  /* padding: 10px 25px; */
  border-radius: 0;
}

.profile_img img {
  border-radius: 50%;
  text-align: center;
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
}
#earnpts {
  margin-top: 20px;
}
#earnpts h1 {
  text-align: center;
  color: red;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 5px;
  font-family: Roboto,Georgia,"Times New Roman",Times,serif;
}


.earningbox {
  margin-top: 20px;
}
.earningbox .status {
  font-family: 'Source Sans Pro', sans-serif;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.earningbox .panel-body {
  border-right: 1px solid rgb(79, 193, 164);
  border-bottom: 1px solid rgb(79, 193, 164);
  border-left: 1px solid rgb(79, 193, 164);
}
.panel-body {
  padding: 15px;
}
.redeem {
  color:#FFF;
    text-decoration: none;
}
.redeem:hover {
  color:yellow;
    text-decoration: none;
}

.error ul { list-style:none; padding:0; margin:0}

.errrs
{
 
margin-bottom:10px;
background:#F9E6E6;
    padding:15px;
    color:red;
    border:2px solid red;
}